
<div class="content">

<% @props.each do |prop| %>

<ul class="table-view">
  <li class="table-view-cell media">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <div class="media-body">
        <%= link_to prop.title, prop %>
        <p><%= prop.text %></p>
            <% if logged_in? and current_user.admin %>
                <h4><%= link_to 'Edit', edit_prop_path(prop) %></h4>
                <h4><%= link_to 'Delete', prop_path(prop),
                                          method: :delete,
                                          data: ( 'Are you sure?' ) %></h4>

              <% end %>
        </div>
  </li>
</ul>

<% end %>

</div>
