<% @props.each do |prop| %>

<div>
<h3><%= link_to prop.title, prop %></h3>
<p><%= prop.text %></p>
  <% if logged_in? and current_user.admin %>
    <div class="admin-functions">
      <h3><%= link_to 'Edit', edit_prop_path(prop) %></h3>
      <h3><%= link_to 'Delete', prop_path(prop),
                                method: :delete,
                                data: ( 'Are you sure?' ) %></h3>
    </div>
  <% end %>

</div>

<% end %>
