<p>
  <strong>What's the Propisition?</strong>
  <%= @prop.title %>

</p>

<p>
  <strong>What are the prop terms?</strong>
  <%= @prop.text %>
</p>

<p>
  <%= link_to 'Back to All Props', props_path  %>
</p>
