<h1>Hello and Welcome to Props</h1>

<p>Predict the outcome of real life situations and earn PropDollars when you're right. Play against your friends, colleagues and other Proppers on the site!</p>

<div><%= link_to 'All Props', controller: 'props'  %></div>

<div><%= link_to 'Create a Prop', new_prop_path  %></div>
