


<div class="content">








      <div class="card">
        <ul class="table-view">
          <li class="table-view-cell">
            <a class="navigate-right" href="/props">
              <strong>View All Bets</strong>
            </a>
          </li>
          <% if logged_in? and current_user.admin %>
          <li class="table-view-cell">
            <a class="navigate-right" href="props/new">
              <strong>Create a Bet</strong>
            </a>
          </li>
          <li class="table-view-cell">
            <a class="navigate-right" href="/users">
              <strong>View All Users</strong>
            </a>
          </li>

          <% end %>

        </ul>
      </div>
      <div class="bar bar-standard bar-footer-secondary">


      </div>
    </div>
